<div class="container">
  <h1>Register form</h1>
  <div class="form-group">
    <label for="email">Email:</label>
    <input  [(ngModel)] = "email" type="email" class="form-control" id="email" placeholder="Dùng [(ngModel)]">
  </div>
  <div class="form-group">
    <label for="fullname">Fullname:</label>
    <input type="password" #pass class="form-control" id="fullname" placeholder="Enter full name">
  </div>

  <button class="btn btn-success" (click) = "DisplayPass(pass)">Submit</button>

  <p>Email: </p> <input placeholder="Dùng [(ngModel)]" value = "{{email}}">
  <p>Fullname: </p> <input placeholder="Dùng event binding" value="{{pass.value}}">
</div>


